<% if @post.errors.any? %>
<ul>
  <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%=form_for @post do |f|%>
    <%= f.label :title%>
    <%= f.text_field :title%>
    <br>

    <%= f.label :content%>
    <br>
    <%= f.text_area :content%>
    <br><br>

    <%= f.label :blogger%>
    <%= f.collection_select :blogger_id, Blogger.all, :id, :name, prompt: true %>
    <br><br>

    <%= f.label :destination%>
    <%= f.collection_select :destination_id, Destination.all, :id, :full_location, prompt: true %>
    <br><br>

    <%= f.submit :'Submit Post'%>
    
<%end%>